.hiddenContent {
  display: none;
}
.table {
  background-color: white
}

body{
  background-color: #f2f2f2;
}
h1, h2, h3, h4, h5, h6, p{
  color : black;
}
.dropdownbutton-team-rounds{
  display: inline-block;
}

/* CSS added to studentInput page */
.StudentGrid{
  display: grid;
  grid-template-columns: repeat(1, 100%);
}
.StudentTitle{
  width: 100%;
}
.StudentSurname{
  width: 100%;
}
.StudentName{
  width: 100%;
}
.StudentGrade{
  width: 100%;
}
.StudentTeam{
  width: 100%;
}
.StudentSubmit{
  width: 100%;
}
.StudentTable{
  width: 100%;
}
.input-Surname {
  width: 50%;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}
.input-Name {
  width: 50%;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}
.input-Grade {
  width: 50%;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}
.StudentTeamDropdown{
  width: 50%;
}
.student-submit-button{
  width: 50%;
}
.plus{
  width: 40%;
}
.minus{
  width: 40%;
}


/* CSS added to teamInput page */
.TeamAllForms {

}
.input-TeamName {
  width: 50%;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}
.input-TeamLeader {
  width: 50%;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}
.teamInput-submit-button{
  width: 50%;
}


/* Every Table (without className) will be with centered text */
Table {
  text-align: center;
}


/* CSS added to Matches page */
.dropdown-round {
  float: left;
  width: 100%;
}
.MatchSeason{
  width: 30%;
}
.MatchRound{
  width: 30%;
}
.MatchTeamDropdown{
  width: 30%;
}
.dropdown-team1 {
  width: 100%;
}
.dropdown-team2 {
  width: 100%;
}
.input-TeamOne {
    width: 30%;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}
.input-TeamTwo {
    width: 30%;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}
.dropdown-submit-button {
  width: 60%;
}


/* CSS added to Store page */
.StoreStudent {
  width: 50%;
}
.input-studentPrice {
  width: 50%;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}
.DIV-studentPrice {
  display: grid;
  grid-template-columns: repeat(4, 25%);
}
.studentPrice-2ndDIV {
  border: double red;
  background-color: #3399CC;
  width: 100%;
}
.BuyButton {
  width: 40%;
}
.SellButton {
  width: 40%;
}
