.hiddenContent {
  display: none;
}
.table {
  background-color: white
}

body{
  background-color: #e7e7e7;
}
h1, h2, h3, h4, h5, h6, p{
  color : black;
}
.StudentGrid{
  display: grid;
  grid-template-columns: repeat(1, 100%);
}
.StudentTitle{
  width: 100%;
}
.StudentTable{
  width: 100%;
}
.plus{
  width: 40%;
}
.minus{
  width: 40%;
}
.headertext{
  display: inline-block;
  padding: 2px 6px;
  border-radius: 3px;
  font-weight: bold;
  font-size: 15px;
  margin-left: 3px;
  background: var(--gray-lighter);
  color: var(--gray);
}
.form {
  width: 40%;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}
.dropdown{
  width: 40%;
}
.hide{
  display: none;
}
.display{
  display: block;
}
Table {
  text-align: center;
}
.DIV-studentPrice {
  display: grid;
  grid-template-columns: repeat(4, 25%);
}
.studentPrice-2ndDIV {
  border: double red;
  background-color: #3399CC;
  width: 100%;
}
.BuyButton {
  width: 40%;
}
.SellButton {
  width: 40%;
}



.DeleteProfileButton {
  float: right;
  width: 45%;
}
.SaveProfileButton {
  float: left;
  width: 45%;
}
.hello-user {
  float: left;
  width: 60%;
}
.table-user-first {
  float: left;
  width: 100%;
}
.table-user-second {
  float: right;
  width: 100%;
}
.modalText {
  font-size: 120%;
}

@media screen and (max-width: 992px){
  .hello-user {
    float: left;
    width: 100%;
  }
  .table-user-first {
    float: right;
    width: 100%;
  }
  .table-user-second {
    float: right;
    width: 100%;
  }
  .DIV-studentPrice {
    display: grid;
    grid-template-columns: repeat(2, 50%);
  }
  .nextMatch-round{
    font-size: 200%;
    line-height: 50%;
  }
  .nextMatch-date{
    font-size: 120%;
    line-height: 50%;
  }
  .nextMatch-team{
    font-size: 150%;
    line-height: 50%;
    width: 100%;
  }
  .plus1{
    width: 40%;
  }
  .minus1{
    width: 40%;
  }
  .MatchSeason{
    width: 80%;
  }
  .MatchRound{
    width: 80%;
  }
  .MatchTeamDropdown{
    width: 80%;
  }
  .input-TeamOne{
      width: 80%;
  }
  .input-TeamTwo{
      width: 80%;
  }
}
